@model List<WebApplication1.Models.Entities.Country>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Code
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Code
                    </td>
                </tr>
            }
                
        </tbody>
    </table>
</body>
</html>

